.chart-column {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin-top: 1rem;
}

.chart-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-text {
  margin-left: 4rem;
  width: fit-content;
}