.chart-column {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 1rem;
}

.chart-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.chart-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chart-title-text {
  margin-left: 4rem;
  width: fit-content;
}

.chart-table {
  margin-top: 1.41rem;
}

table, th, td {
  border: 1px solid var(--text);
  border-collapse: collapse;
}

td {
  text-align: center;
}