.theme-dark {
  --background: #181a1b;
  --foreground: #202324;
  --text: #e8e6e3;
  --button-background: #2b2a33;
  --button-hover-background: #52525e;
}

.theme-light {
  --background: #ffffff;
  --foreground: #cccccc;
  --text: #000022;
  --button-background: #e9e9ed;
  --button-hover-background: #d0d0d7;
}

html, #root {
  background-color: var(--background);
  color: var(--text);
}

input {
  background-color: var(--button-background);
  outline: none;
  border: 1px solid #8f8f9d;
  border-radius: 2px;
  color: var(--text);
}

select {
  background-color: var(--button-background);
  outline: none;
  border: 1px solid #8f8f9d;
  border-radius: 2px;
  color: var(--text);
}

button {
  background-color: var(--button-background);
  outline: none;
  border: 1px solid #8f8f9d;
  border-radius: 2px;
  color: var(--text);
}

button:hover {
  background-color: var(--button-hover-background);
}
