.theme-dark {
  --background: #181a1b;
  --midground: #262525;
  --foreground: #202324;
  --text: #e8e6e3;
  --button-background: #2b2a33;
  --button-hover-background: #52525e;
}

.theme-light {
  --background: #ffffff;
  /* --midground: #fff9f5; */
  --midground: #eeeeee;
  --foreground: #cccccc;
  --text: #000022;
  --button-background: #e9e9ed;
  --button-hover-background: #d0d0d7;
}

html, #root {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input {
  background-color: var(--button-background);
  outline: none;
  border: 1px solid #8f8f9d;
  border-radius: 2px;
  color: var(--text);
}

select {
  background-color: var(--button-background);
  outline: none;
  border: 1px solid #8f8f9d;
  border-radius: 2px;
  color: var(--text);
}

button {
  background-color: var(--button-background);
  outline: none;
  border: 1px solid #8f8f9d;
  border-radius: 2px;
  color: var(--text);
}

button:hover {
  background-color: var(--button-hover-background);
}

.app-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.app-round {
  flex: 1;
}

.app-settings-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.icon-button {
  padding-top: 4px;
}