.app-col {
  display: flex;
  flex-direction: column;
}

.app-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.button-gap {
  margin-left: 1rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  flex: 1;
}

.inner-app-col {
  display: flex;
  flex-direction: column;
  background-color: var(--midground);
  box-shadow: 0px 3px 2px 0px var(--foreground);
  padding: 1rem 0.5rem;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.small-input {
  width: 4ch;
  margin-left: 0.25rem;
}

.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;
}